version: "3.3"
services:
  master:
    image: lizardfs-master
    build:
      context: ./lizardfs-master
      args:
        - BASE_IMAGE=$BASE_IMAGE
    ports:
      - "9421:9421"
    volumes:
      - ./volumes/lizardfs-master/etc/lizardfs:/etc/lizardfs/
      - ./volumes/lizardfs-master/var/lib/lizardfs/:/var/lib/lizardfs/
      - ./volumes/lizardfs-master/var/log/:/var/log/

  cgi:
    image: lizardfs-cgiserver
    build:
      context: ./lizardfs-cgiserver
      args:
        - BASE_IMAGE=$BASE_IMAGE
    ports:
      - "9425:9425"
    links:
      - master:mfsmaster

  chunkserver:
    image: lizardfs-chunkserver
    build:
      context: ./lizardfs-chunkserver
      args:
        - BASE_IMAGE=$BASE_IMAGE
    volumes:
      - ./volumes/lizardfs-chunkserver/etc/lizardfs:/etc/lizardfs/
      - ./volumes/lizardfs-chunkserver/var/log/:/var/log/
      - ./volumes/lizardfs-chunkserver/var/lib/lizardfs:/var/lib/lizardfs
      - ./volumes/lizardfs-chunkserver/hdd:/hdd
    links:
      - master:mfsmaster
    ports:
      - "9422:9422"

  client:
    image: lizardfs-client
    devices:
      - /dev/fuse
    cap_add: 
      - SYS_ADMIN
    security_opt: 
      - apparmor:unconfined
    build:
      context: ./lizardfs-client
      args:
        - BASE_IMAGE=$BASE_IMAGE
    links:
      - master
    depends_on:
      - master
    volumes: 
      - ./volumes/lizardfs-client/var/log/:/var/log/
